.buttonSize {
    width: 175px;
}

.buttonsSpan {
    margin-right: 10px;
}

.tdFloatRight {
    float: right;
}

.buttonStyleDiv {
    align-self: flex-end;
}

.talentDiv {
    height: 430px;
    overflow-y: scroll;
}

.companyDiv {
    min-height: 600px;
}

.styleCursor {
    cursor: pointer;
}

.stylePadding {
    padding: 0 !important;
}

.talentDetails {
    margin-top: 14px;
}

.talentDetailsHeaders {
    margin: 0 !important;
}

.companyLogoSize {
    height: 50px;
    width: 50px;
}
